*{
  font-family: "Fjalla One";
}
.menu-btn-l{
  font-size: 18px;
  font-weight: bold;
  margin-top: 75px;
}
.menu-btn-l-fx{
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
}
.menu-btn-r{
  font-size: 18px;
  font-weight: bold;
  margin-top: 75px;
}
.menu-btn-r-fx{
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
}
.menu-logo{
  height:170px;
  margin-top: 5px;
  width:170px;
}
.menu-logo-sm{
  height:60px;
  margin-top: 5px;
  width:60px;
}
.menu-lg{
  background-color: #36c0d0;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
  height: 180px;
}
.menu-lg-fx{
  background-color: #36c0d0;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
  height: 70px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
}
.menu-sm{
  background-color: #36c0d0;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
  height: 80px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
}
.menu-sm-bk{
  height: 50px;
}
.fa {
  font-size: 32px;
  margin-left: 8px;
  margin-top: 10px;
}
.fa-facebook {
  color: #3b5998;
  font-size: 50px;
  top: 5px;
}
.fa-instagram {
  color: #000000;
  font-weight: bold;
  font-size: 50px;
  top: 5px;
}
.btn-circle {
  color: #ffffff;
  width: 46px;
  height: 46px;
  padding: 7px;
}
